* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    line-height: 1.2;
    color: #333333
}

.section {
    padding: 40px 10%;
}

.header {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}

.header span {
    font-weight: 300;
    display: block;
}

.header strong {
    font-weight: 900;
    text-transform: uppercase;
}

.main {
    margin-top: 80px;
}

.video,
.form {
    display: inline-block;
    vertical-align: top;
    border: 5px solid blue;
}

.form {
    border: 5px solid blue;
    padding: 20px;
    margin-left: 10px;
}

.form-header {
    font-size: 20px;
    text-align: center;
}

.form input {
    width: 300px;
    padding: 17px;
    font-size: 18px;
    border: 1px solid #333333;
}

.form-control-name {
    margin: 20px;
}

.form-control-call {
    margin-left: 20px;
    margin: bottom 20px;
}

.btn {
    margin: 20px;
    width: 300px;
    font-size: 18px;
    text-align: center;
    padding: 17px;
    color: #333333;
    background-color: aqua;
    display: block;
    margin: 20px auto;
}

.menu {
    text-align: center;
}

.col {
    display: inline-block;
    text-align: center;
    margin: 10px 50px;
}

.menu-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 70px;
    margin-top: 40px;
}


/**.form-menu {
    font-size: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
}**/